<div class="card col-sm-6 col-md-3 col-xl-3 rounded justify-content-center product-card">
    <div class="image-container text-center">
        <img src="{{#relative product.[imgSrc].[0] @file.path}}{{/relative}}"
             class="img-fluid">
        <div class="row link">
            <div class="item link-view col-6" data-toggle="modal" data-target="#product-{{product.id}}">
                <h5><i class="fa fa-external-link" aria-hidden="true"></i> View</h5>
            </div>
            <a class="item link-buy col-6" href="{{#relative product.link @file.path}}{{/relative}}"
               target="_blank">
                <h5><i class="fa fa-shopping-cart" aria-hidden="true"></i> Buy</h5>
            </a>
        </div>
    </div>
    <div class="details">
        <h5 class="name">{{product.name}}</h5>
        <p class="price">{{#addComma product.price}}{{/addComma}}</p>
    </div>

    <!-- Modal Core -->
    <div class="modal fade" id="product-{{product.id}}" tabindex="-1" role="dialog"
         aria-labelledby="product-{{product.id}}Label"
         aria-hidden="true">
        <div class=" modal-dialog col-md-8">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="product-{{product.id}}Label">{{product.name}}</h4>
                </div>
                <div class="modal-body">
                    {{product.description}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">Close
                    </button>
                    <a href="{{#relative product.link @file.path}}{{/relative}}" target="_blank"
                       class="btn btn-danger btn-simple">Buy
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
